<div class="login-dark">
    <form [formGroup]="passWordForm">
        <h2 class="sr-only">Set password</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" formControlName="password">
                <div *ngIf="password.touched && password.invalid"> 
                    <small *ngIf="password.errors.required" class="text-danger">password is required<br> </small> 
                    <small *ngIf="password.errors.minlength" class="text-danger">password must contain 8 characters at least<br> </small> 
                    <small *ngIf="password.errors.maxlength" class="text-danger">password must contain max 20 characters <br> </small> 
                </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="Confirm_password" placeholder="Confirm Password" formControlName="Confirm_password">
                 <div *ngIf="Confirm_password.touched" class="text-danger">
                        <small *ngIf="Confirm_password.value != password.value" class="text-danger">  The passwords entered do not match</small>
                 </div>   
        </div>
        <div class="form-group">
            <button (click)="save()" [disabled]="passWordForm.invalid || Confirm_password.value != password.value" class="btn btn-primary btn-block" type="submit">Save</button>
        </div>
    </form>
</div>