.login-dark {
  height:1000px;
  background:#475d62 url(../../../assets/img/photos/star-sky.jpg);
  background-size:cover;
  position:relative;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none !important;
  border:none !important;
  border-bottom:1px solid #434a52 !important;
  border-radius:0 !important;
  box-shadow:none !important;
  outline:none !important;
  color:inherit !important;
}

.login-dark form .btn-primary {
  background:#214a80 !important;
  border:none !important;
  border-radius:4px !important;
  padding:11px !important;
  box-shadow:none !important;
  margin-top:26px !important;
  text-shadow:none !important;
  outline:none !important;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80 !important;
  outline:none !important;
}

.login-dark form .forgot {
  display:block !important;
  text-align:center !important;
  font-size:12px !important;
  color:#6f7a85 !important;
  opacity:0.9 !important;
  text-decoration:none !important;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1 !important;
  text-decoration:none !important;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px) !important;
}

